<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PharmaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PharmaManager.Properties.Settings.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PharmacyTest;Integrated Security=True"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <PharmaManager.Properties.Settings>
            <setting name="ConnectionStringForCreate" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=master;Integrated Security=True</value>
            </setting>
        </PharmaManager.Properties.Settings>
    </userSettings>
</configuration>
